
* {
    box-sizing: border-box;
}
html {
    overflow-x: none;
}
h1, h2, h3, ul, li, a, p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #131212;
}
.mainpopup{
    background-color: #D9D9D9;

}

.topBlock{
    display: flex;
    justify-content: space-between;
}

.cancelX{
    border: none;
    color: #CDCFCF;
    background-color: white;
    max-width: 30px;
    max-height: 30px;
    height: 100%;
    width: 100%;
    padding-right: 30px;
}

.cancelX:hover {
  transform: scale(1.5);
}
.PictureItem{
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    color: #B0BCD2;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.cardpopup{
    display: flex;
    justify-content: space-between;
    color: black;
    border: 3px solid;
    border-color: #D9D9D9;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: white;
}
.rightside{
    padding-left: 20px;
    padding-right: 20px;
}
.Name{
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
    color: #1A1B1C;
    text-align: left;
    margin-bottom: 17px;
}
.price{
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    color: #B0BCD2;
    text-align: left;
}

.caracteristics{
    padding-top: 30px;
}

.popupimg{
    max-height: 475px;
    height: 100%;
}

.descriptionitem{
    text-align: left;
    font-family: "Inter";
    font-size: 15px;
}
.item_caracteristic{
    display: flex;
    justify-content: start;
    text-align: left;
    font-family: "Inter";
    font-size: 15px;
}
.objectcaracteristic{
    margin-left: 15px;
}
.button_item{
    padding: 7px 98px 7px 98px;
    background-color: #B0BCD2;
    border: none;
    /*margin-top: 57px;*/


}
.button_item_text{
     text-align: center;
    font-family: "Inter";
    color: white;
    font-size: 30px;
    background-color: #B0BCD2;


}
.namecaracteristic{
    font-weight: 500;
}




.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
.heading {
    font-size: 55px;
    font-weight: 300;
    line-height: 66px;
    border-bottom: 1px solid;
    display: inline-block;
}
.headingM {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}
.header {
    padding-top: 6px;
}
.header__nav {
    padding: 19px 0 22px;
    position: relative;
}
.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item:not(:last-child) {
    margin-right: 25px;
}
.header__nav-link {
    font-size: 13px;
    color: #131212;
    line-height: 17px;
    transition: .3s ease;
}
.header__nav-link:hover {
    color: #7A7272;
}
.header__nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -67px;
    margin-top: -28px;
}
.nav__item-catalog {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    padding: 30px 0 30px 23px;
    background: #fff;
    z-index: 10;
}
.nav-catalog__wrapper {
    max-width: 523px;
    width: 100%;
}
.catalog__menu-choice {
    display: flex;
    justify-content: space-between;

 align-items: baseline;

}
.W6-14-item:nth-child(4) {
    margin-top: 36px;
}
.b6-5-item, .B6-14-item {
    display: none;
}
.nav__item-catalog, .man, .child {
    display: none;
}

.catalog__menu-item {
    margin-bottom: 19px;
    cursor: pointer;
}
.catalog__menu-itemActive {
    color: #131212;
    font-weight: 500;
}
.sale {
    color: #BD2020;
}
.menu__choice-item .menu__choice-link:not(:last-child) {
    margin-bottom: 6px;
}
.mainScreen {
    background-color: #CDCFCF;
}

.mainScreen_fabric {
    background-color: rgba(205, 207, 207, 0.7)
}
.mainScreen__wrapper {
    max-width: 940px;
    width: 100%;
    padding: 51px 0 33px;
    position: relative;
}
.mainScreen__wrapper_fabric{
    padding: 17px 0 31px;
}
.mainScreen__text-descr {
    max-width: 503px;
    width: 100%;
    margin-top: 21px;
}
.mainScreen__text-descr_fabric {
    max-width: 900px;
    width: 100%;
    margin-top: 21px;
}
.mainScreen__products {
    margin-top: 70px;
    display: flex;
}
.mainScreen__products-item {
    color: #131212;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
}
.products-item__name {
    border-bottom: 1px solid ;
    display: inline-block;
}
.mainScreen__products-item:not(:last-child) {
    margin-right: 37px;
}
.products-item__price {
    margin-top: 4px;
}
.mainScreen__pic-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 358px;
    height: 535px;
}
.catalog {
    padding: 17px 0 85px;
}
.catalog__wrapper {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 9vw);
    grid-gap: 17px;
}

.catalog__wrapper-item {
    position: relative;
    display: block;
    transition: .3s ease;
    cursor: pointer;
}
.catalog__wrapper-item:hover {
    box-shadow: 0 4px 15px #7A7272;
}
.catalo-item__price {
    position: absolute;
    left: 14px;
    bottom: 13px;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}
.item-2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 6;
}
.item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}
.item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
}
.item-6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 9;
}
.mainScreen__products-item {
    transition: .3s ease;
}
.mainScreen__products-item:hover {
    color: #7A7272;
}
.banner__wrapper {
    padding: 43px 35px;
    background-color: #CDCFCF;
}
.banner__content {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    line-height: 42px;
}
.banner__wrapper_fabric {
    padding: 43px 49px 54px 35px;
    background-color: rgba(205, 207, 207, 0.7);
}
.banner__content_fabric {
    font-size: 35px;
    font-weight: 600;
    color: rgba(81, 34, 36, 1);
    line-height: 42px;
}
.banner_log {
    margin: 0 auto;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.banner__wrapper_button_log{
    margin-top: 35px;
    margin-left: 175px;
}




      .openBtn {
        display: flex;
        justify-content: left;
      }
      .openButton {
        border: none;
        border-radius: 5px;
        background-color: #1c87c9;
        color: white;
        padding: 14px 20px;
        cursor: pointer;
        position: fixed;
      }
      .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
      }
      .formPopup {
        display: none;
        position: fixed;
        left: 45%;
        top: 5%;
        transform: translate(-38%, 5%);
        z-index: 9;
      }
      .formPopup2 {
        display: none;
        position: fixed;
        left: 45%;
        top: 5%;
        transform: translate(-41.05%, 5%);
        z-index: 9;
      }

      .cart_param{
          width:1000px;
          height:1000px;

      }







      .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
      }
      .formContainer input[type=text],
      .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
      .formContainer input[type=text]:focus,
      .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: #8ebf42;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
      }
      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
      }
      .cancel_button{
          font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            color: rgba(246, 254, 255, 1);
            margin: 0 auto;
              border: none;
              background-color: #A4BDCD;
      }




.banner__content_button_log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: rgba(29, 64, 127, 0.35);
    background: rgba(246, 254, 255, 1);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    cursor: pointer;
}
.banner__wrapper_forget_log{
    width: 200px;
    height: 40px;
    background: none;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 25px;
}
.banner__content_forget_log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: rgba(246, 254, 255, 1);
    margin: 0 auto;
}

.banner__content_sign_log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: rgba(246, 254, 255, 1);
    margin: 0 auto;
}
.banner__wrapper_sign {
width: 450px;
height: 565px;
background: rgba(29, 64, 127, 0.35);
margin-top: 7px;
margin-left: 75px;
margin-right: 75px;
padding-top: 45px;
border-radius: 93px;
}

.banner__wrapper_forget {
width: 450px;
height: 430px;
background: rgba(29, 64, 127, 0.35);
margin-top: 7px;
margin-left: 75px;
margin-right: 75px;
padding-top: 45px;
border-radius: 93px;
}



.banner__wrapper_log {
width: 450px;
height: 500px;
background: #A4BDCD;
margin-top: 7px;
margin-left: 75px;
margin-right: 75px;
padding-top: 45px;
border-radius: 93px;
}

.banner__wrapper_email_log {
width: 350px;
height: 50px;
background: rgba(246, 254, 255, 1);
border-radius: 20px;
margin-top: 15px;
margin-left: 50px;
margin-right: 50px;
padding-left: 30px;
padding-top: 5px;
}

.banner__wrapper_password_log {
width: 350px;
height: 50px;
background: rgba(246, 254, 255, 1);
border-radius: 20px;
margin-top: 25px;
margin-left: 50px;
margin-right: 50px;
padding-left: 30px;
padding-top: 5px;
}

.banner__content_log {
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 50px;
text-align: center;
padding-left: 40px;
padding-right: 40px;
margin-top: 7px;
color: #F6FEFF;
}
.banner__content_log_2 {
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 67px;
text-align: center;
padding-left: 40px;
padding-right: 40px;
margin-top: -25px;
color: #F6FEFF;
}
.banner__content_email_log {
    font-family: 'Inter';
    font-style: light;
    width: 200px;
    font-size: 15px;
    Line-height: 42px;
    color: #BCB8B8;
}
.banner__content_password_log {
    font-family: 'Inter';
    width: 200px;
    font-style: light;
    font-size: 15px;
    Line-height: 42px;
    color: #BCB8B8;
}

.catalog__heading_basket{
    color: #B0BCD2;
    font-weight: 700;
    border-bottom: none;
    font-size: 40px;
}

.plas-menos{
        max-width: 150px;
        width: 100%;
        font-family: 'Inter';
        font-size: 30px;
        Line-height: 42px;
        color: #000000;
        margin-left: 30px;
        margin-bottom: 24px;
        display: flex;

}

.amount_basket{
        font-weight: 500;
        margin-left: 30px;
}

.plas_basket{
        font-size: 30px;
         font-family: 'Inter';
        margin-left: 30px;
        background: none;
        outline: none;
        border: none;
}
.card-img_buy{
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;

}

.one_pict{
    position: absolute;
    top:10px;
	right: 10px;
}

.two_pict{
    position: relative;
    height: 100%;
}

.menos_basket{
        font-size: 30px;
        font-family: 'Inter';
        background: none;
        outline: none;
         border: none;
}
.wrapper-text__content_basket{
        max-width: 390px;
        width: 100%;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 30px;
        Line-height: 42px;
        color: #000000;
        margin-left: 30px;
        margin-bottom: 24px;
}

.wrapper-text__content_basket_2{
        max-width: 390px;
        width: 100%;
        font-family: 'Inter';
        font-size: 20px;
        Line-height: 20px;
        color: #000000;
        margin-left: 30px;
        margin-bottom: 12px;
}
.cancel_basket{
        color: #CDCFCF;
        font-family: 'Inter';
        font-size: 30px;
        width: 20px;
        float: right;
        margin-bottom: 190px;
}

.coast{
        color: #000000;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 30px;
        width: 100px;
        float: right;
}
.wrapper-text__content_basket_3{
        max-width: 390px;
        width: 100%;
        font-family: 'Inter';
        font-size: 20px;
        Line-height: 20px;
        color: #000000;
        margin-left: 30px;
        margin-bottom: 50px;
}
.text_basket{
max-width: 900px;
width: 100%;
    display: flex;
    justify-content: space-between;
}
.construct__wrapper-text_basket{
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.non_visible {
display: none;
color: red;
}
.card-img_basket {
    max-width: 196px;
    max-height: 259px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.sertificate {
    margin-top: 42px;
    padding-bottom: 35px;
}
.sertificate__wrapper {
    display: flex;
    justify-content: space-between;
}
.sertificate__text {
    max-width: 640px;
}
.sertificate__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.Woolmark-icon {
    width: 158px;
}
.btn {
    background: none;
    border: 1px solid #131212;
    color: #131212;
    font-weight: 300;
    cursor: pointer;
    transition: .3s ease;
    outline: none;
}
.btn:hover {
    border: 1px solid #7A7272;
    color: #7A7272;
    box-shadow: 0 4px 15px #7A7272;
}
.sertificate__content-btn {
    margin-top: 22px;
    padding: 11px 25px;
}
.catalog2 {
    padding-bottom: 115px;
}
.construct {
    padding: 38px 0 52px;
}
.construct__wrapper-text {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.construct__look {
    margin-top: 70px;
    padding: 650px 56px 654px;
    background-image: url('../img/looks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.construct__look-text {
    padding: 23px 49px 45px;
    background-color: #fff;
    color: #131212;
    transition: .3s ease;
}
.construct__look-text:hover {
    box-shadow: 0 4px 15px #F4F4F4;
}
.catalog3  .catalo-item__price {
    top: 22px;
    left: 17px;
}
.catalog3 {
    padding-bottom: 52px;
}
.care {
    padding-bottom: 50px;
}
.cards-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.cards-item:not(:last-child) {
    margin-bottom: 20px;
}
.catalog-img {
    transition: .3s ease;
}
.catalog-img:hover {
    box-shadow: 0 4px 15px #7A7272;
}
.care__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.care__text {
    max-width: 630px;
}
.care__text:not(:last-child) {
    margin-bottom: 15px;
}
.banner__wrapper2 {
    display: flex;
    align-items: center;
}
.banner__content2 {
    max-width: 736px;
    width: 100%;
}
.banner-date__num {
    font-size: 96px;
    line-height: 93px;
}
.banner-date__day {
    font-size: 40px;
    line-height: 36px;
}
.banner__wrapper2-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    padding: 66px 0 70px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}
.footer__wrapper-nav {
    display: flex;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}
.footer__nav:not(:last-child) {
    margin-right: 36px;
}
.footer__nav-item:not(:last-child) {
    margin-bottom: 17px;
}
.footer__link-social {
    border-bottom: 1px solid rgb(19, 18, 18);
    transition: .3s ease;
}
.footer__link-social:hover {
    border-bottom: 1px solid #7A7272;
}
.footer__elem-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer__form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(19, 18, 18);
    max-width: 200px;
    width: 100%;
    font-size: 15px;
}
.form-input{
    border-bottom: none;
}
.footer__form-btn {
    padding: 8px 10px;
}
.footer__copiwriter {
    font-size: 15px;
    color: #BCB8B8;
    margin-top: 30px;
}
.mainScreen__text-headingMob,
.header__nav-burger {
    display: none;
}
.wrapper-text__content_about_us {
        max-width: 430px;
        width: 100%;
}


@media (max-width: 950px) {
    .container {
        padding: 0 10px;
    }
    .catalog {
        padding-bottom: 120px;
    }

}

@media (max-width: 850px) {
    .header__nav-link {
        max-width: 300px;
        width: 100%;
    }
    .footer__form-btn {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .header {
        padding: 0;
    }
    .container {
        padding: 0 10px;
    }
    .catalog,
    .sertificate {
        padding: 15px 0 18px;
        margin: 0;
    }
    .construct,
    .sertificate {
        padding: 15px 0 0;
    }
    body {
        font-size: 14px;
        line-height: 16px;
    }
    .heading {
        font-size: 30px;
        line-height: 37px;
    }
    .mainScreen__pic-img {
        display: none;
    }
    .mainScreen__fabric-img{
        display: none;
    }
    .mainScreen {
        background-image: url("../img/mainMob.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .mainScreen__text-descr {
        display: none;
    }
    .mainScreen__text-heading {
        display: none;
    }
    .mainScreen__wrapper {
        padding: 324px 0 349px;
    }
    .mainScreen__text-headingMob {
        display: block;
        color: #fff;
        font-size: 40px;
        font-weight: 900;
    }
    .mainScreen__products {
        display: none;
    }
    .header__nav-burger {
        display: block;
        background: none;
        border: none;
    }





    .catalog__wrapper {
        margin-top: 13px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 18vw);
    }
    .catalo-item__price {
        font-size: 10px;
    }
    .item-4,
    .item-5,
    .item-6 {
        display: none;
    }
    .item-1 {
        grid-column-end: 7;
        grid-row-end: 7;

    }
    .item-2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    .item-3 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    .banner__content {
        font-weight: 400;
    }
    .catalo-item__price {
        left: 8px;
        bottom: 6px;
        line-height: 12px;
    }
    .banner__wrapper {
        padding: 9px 8px;
    }
    .banner__content {
        font-size: 15px;
        line-height: 19px;
    }
    .Woolmark-icon {
        width: 91px;
    }
    .sertificate__content {
        justify-content: flex-start;
    }
    .sertificate__content-btn {
        padding: 5px 9px;
        margin-top: 15px;
    }
    .sertificate__text {
        max-width: 240px;
    }
    .construct__heading {
        font-size: 20px;
        line-height: 24px;
    }
    .construct__wrapper-text {
        flex-direction: column;
        margin-top: 6px;
    }
    .construct__wrapper-text_2 {
        flex-direction: column;
        margin-top: 6px;
        background: red;
    }

    .wrapper-text__content:not(:last-child) {
        margin-bottom: 3px;
    }
     .wrapper-text__content_about_us {
        margin-bottom: 3px;
    }
    .lol {
        display: block;
        width: 100px;
        color: red;
    }
    .construct__look {
        margin-top: 17px;
        background-size: contain;
        padding: 225px 54px;
    }
    .construct__look-text {
        padding: 15px;
        display: inline-block;
    }
    .look-text__descr {
        font-size: 15px;
        line-height: 18px;
    }
    .item-1 .catalo-item__price {
        display: none;
    }
    .catalog3 .catalo-item__price {
        top: inherit;
        bottom: 6px;
        left: 8px;
    }
    .catalog-img {
        width: 128px;
    }
    .care {
        padding: 0;
    }
    .care__wrapper {
        margin-top: 7px;
    }
    .care-item {
        font-size: 7px;
        line-height: 8px;
    }
    .care__text {
        max-width: 200px;
        width: 100%;
    }
    .care__text:not(:last-child) {
        margin-bottom: 12px;
    }
    .care__text:last-child {
        display: none;
    }
    .care__wrapper-cards {
        display: flex;
        flex-direction: column;
    }
    .banner__wrapper2 {
        justify-content: space-between;
    }
    .banner__content2 {
        max-width: 230px;
    }
    .banner-date__num {
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
    .banner-date__day {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }
    .footer {
        padding: 15px 0 40px;
    }
    .footer__nav-item:not(:last-child) {
        margin-bottom: 12px;
    }
    .header__nav-link {
        font-size: 14px;
    }
    .footer__copiwriter {
        margin-top: 20px;
    }
    .footer__elem {
        display: none;
    }
    .header {
        position: relative;
    }
    .header__nav {
        padding-top: 60px;
    }
    .header__nav-wrapper-mob {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        position: absolute;
        height: 100vh;
        width: 70%;
        left: -10px;
        padding-left: 10px;
    }
    .header__nav-list-mob {
        flex-direction: column;
        align-items: inherit;
    }
    .header__nav-logo {
        position: absolute;
        top: -10px;
        left: 100%;
        margin-left: -134px;
    }
    .header__nav-right {
        display: none;
    }
    .header__nav-left {
        margin-top: 30px;
        display: none;
    }
    .header__nav-left .header__nav-item:not(:last-child) {
        margin-bottom: 8px;
    }
    .header__nav-cart {
        max-width: 20px;
        padding: 0;
        right: 10px;
        top: 30px;
    }
    .header__nav-burger {
        position: absolute;
        top: 50%;
    }
}
