{% extends 'temp.html' %}
{% load static %}
{%block body%}
        <div class="mainScreen_fabric">
            <div class="container">
                <div class="mainScreen__wrapper_fabric">
                    <div class="mainScreen__text">
                        <img src="{% static 'pools/img/main_fabric.png' %}" alt="fabric_main_picture" class="mainScreen__fabric-img">
                        <p class="mainScreen__text-descr_fabric">
                            Швейное производство «Вязань» открылось в 2017 году. Уже 5 лет
                            мы занимаемся пошивом женской, мужской и детской одежды. Наши конструкторы создают эффектные образы вне трендов. На свидании
                            или в офисе, в кино или на прогулке, в путешествии или во время важной презентации — в Вязани вы чувствуете себя комфортно и уверенно всегда.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    <section class="sertificate">
        <div class="container">
            <div class="sertificate__wrapper">
                <p class="sertificate__text">
                    Мы делаем вещи из шерсти мериносов. Материал натуральный, экологичный и гиппоалергенный. Одежда
                    имеет знак австралийской компании Woolmark — это подтверждает, что в ее составе
                    нет химии, и она не вызывает аллергию. Изделия подойдут даже для чувствительной кожи. Вещи мягкие,
                    неколючие, а главное теплые.
                </p>
                <div class="sertificate__content">
                    <a href="#" class="sertificate__content-link">
                        <img src="{% static 'pools/img/icons/Woolmark.svg' %}" alt="Woolmark" class="Woolmark-icon">
                    </a>
                    <button class="sertificate__content-btn btn" onclick="popupabout()">
                        Сертификаты
                    </button>
                    <div class="formPopup2" id="popupabout">
                                  <div class="cardpopup_ser">
                                      <div class="imgcard">
                                            <img src="{% static 'pools/img/cards1/certificate.jpg' %}"  alt="card" class="card-img popupimg" style="width: 752px; max-height: 539px; height: 100%;">
                                      </div>
                                      <button type="button" class="cancelX" onclick="closePopup_ser2()">✕</button>
                                  </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="banner">
        <div class="container">
            <div class="banner__wrapper_fabric">
                <p class="banner__content_fabric">
                    Лекала, форма, цвет, вязка — мы выверяем всё,
                    чтобы создавать вещи с идеальной посадкой,
                    которые носятся годами.
                </p>
            </div>
        </div>
    </section>

        <section class="construct">
        <div class="container">
            <h2 class="headingM construct__heading">
                С чем носить?
            </h2>
            <div class="construct__wrapper-text">
                <p class="content_picture">
                    <img src="{% static 'pools/img/about_second.png' %}" >
                </p>
                <p class="wrapper-text__content_about_us">
                    Предоставляем большое преимущество для оптовых, постоянных
                    заказчиков – это гибкая система скидок при каждом последующем заказе.
                    Пошив изделий производится в цехах оснащенных высокотехнологичным оборудованием.
                </p>
            </div>
        </div>
    </section>

    <a name="contacts"></a>
    {%endblock%}
