{% extends 'temp.html' %}
{% load static %}
{% block body%}

    <section class="banner_log">
        <div class="container_log">
            <div class="banner__wrapper_forget">

                <p class="banner__content_log"> Стань частью большой</p>

                <p class="banner__content_log_2"> семьи Вязань </p>

                <div class="banner__wrapper_email_log">
                    <p class="banner__content_email_log">
                        <input type="email" placeholder="e-mail" required class="footer__form-input form-input">
                    </p>
                </div>

                <div class="banner__wrapper_password_log">
                    <p class="banner__content_password_log">
                        <input type="password" placeholder="Придумайте новый пароль" required class="footer__form-input form-input">
                    </p>
                </div>

                <button class="banner__content_button_log">Вход</button>

            </div>
        </div>
    </section>

    <a name="contacts"></a>
   {%endblock%}