{% extends 'temp.html' %}
{% load static %}
{% block body %}

        <div class="mainScreen">
            <div class="container">
                <div class="mainScreen__wrapper">
                    <div class="mainScreen__text">
                       
                        <h1 class="mainScreen__text-headingMob heading">
                            Осень с Вязанью
                        </h1>
                         <img src="{% static 'pools/img/heading.png' %}"alt="Холода близко" class="mainScreen__text-heading heading-img">
                        <p class="mainScreen__text-descr">
                            Новая коллекция удобная, лакончиная
                            и стильная. Мы позаботились о том,
                            чтобы вы ощущали свободу, расслабленность и комфорт в каждом движении. Более того, наши
                            изделия
                            из шерсти мериноса согреют вас даже
                            в сильный мороз.
                        </p>
                    </div>
                    <div class="mainScreen__products">
                        <a name="news" ></a>
                        <a href="#" class="mainScreen__products-item">
                            <p class="products-item__name">
                                Шарф
                            </p>
                            <p class="products-item__price">
                                1435₽
                            </p>
                        </a>
                        <a href="#" class="mainScreen__products-item">
                            <p class="products-item__name">
                                Шапка-бини крупной вязки
                            </p>
                            <p class="products-item__price">
                                1155₽
                            </p>
                        </a>
                    </div>
                      <img src="{% static 'pools/img/header.png' %}" alt="model" class="mainScreen__pic-img"/>
                </div>
            </div>
        </div>

    <section class="catalog">
        <div class="container">
            <a name = "Catalog"></a>
            <h2 class="catalog__heading heading">
                Для нее
            </h2>

            <div class="catalog__wrapper">
                <div href="#" class="catalog__wrapper-item item-1">
                    <div class="two_pict">
                    <img src="{% static 'pools/img/cards1/1.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item" style="color: #fff;">
                       
                        <p class="products-item__name">
                            Свитер свободного кроя крупной вязки
                        </p>
                        <p class="products-item__price">
                            3745₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-2">
                    <div class="two_pict">
                      <img src="{% static 'pools/img/cards1/2.png' %}" alt="card" class="card-img">
                    <div class = "one_pict" id="one_pict1">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                    </div>
                </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Шапка-бини крупной вязки
                        </p>
                        <p class="products-item__price">
                            1155₽
                        </p>
                    </a>
                    
                </div>
                <div href="#" class="catalog__wrapper-item item-3">
                     <img src="{% static 'pools/img/cards1/3.png' %}" alt="card" class="card-img">
                </div>
                <div href="#" class="catalog__wrapper-item item-4">
                    <div class = "two_pict">
                         <img src="{% static 'pools/img/cards1/4.png' %}" alt="card" class="card-img">
                        <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>


                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер свободного кроя крупной вязки
                        </p>
                        <p class="products-item__price">
                            3745₽
                        </p>

                    </a>
                </div>
               
                <div href="#" class="catalog__wrapper-item item-5">
                    <div class = "two_pict">
                    <img src="{% static 'pools/img/cards1/5.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер свободного кроя крупной вязки
                        </p>
                        <p class="products-item__price">
                            3745₽
                        </p>
                    </a>
                </div>
               
                <div class="catalog__wrapper-item item-6">
                    <div class = "two_pict">
                     <img src="{% static 'pools/img/cards1/6.png' %}" alt="card" class="card-img">
                        <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер свободного кроя крупной вязки
                        </p>
                        <p class="products-item__price">
                            3745₽
                        </p>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <section class="banner">
        <div class="container">
            <div class="banner__wrapper">
                <p class="banner__content">
                    Лекала, форма, цвет, вязка — мы выверяем всё,
                    чтобы создавать вещи с идеальной посадкой,
                    которые носятся годами.
                </p>
            </div>
        </div>
    </section>
    <section class="sertificate">
        <div class="container">
            <div class="sertificate__wrapper">
                <p class="sertificate__text">
                    Мы делаем вещи из шерсти мериносов. Материал натуральный, экологичный и гиппоалергенный. Одежда
                    имеет знак австралийской компании Woolmark — это подтверждает, что в ее составе
                    нет химии, и она не вызывает аллергию. Изделия подойдут даже для чувствительной кожи. Вещи мягкие,
                    неколючие, а главное теплые.
                </p>
                <div class="sertificate__content">
                    <a href="#" class="sertificate__content-link">
                        <img src="{% static 'pools/img/icons/Woolmark.svg' %}"/>
                    </a>
                    <button class="sertificate__content-btn btn">
                        Сертификаты
                    </button>
                </div>
            </div>
        </div>
    </section>
  
    <section class="catalog catalog2">
        <div class="container">
            <h2 class="catalog__heading heading">
                Для него
            </h2>
            <div class="catalog__wrapper">
                <div href="#" class="catalog__wrapper-item item-1">

                    <img src="{% static 'pools/img/cards2/1.png' %}" alt="card" class="card-img">


                </div>
                <div href="#" class="catalog__wrapper-item item-2">
                     <div class="two_pict">
                    <img src="{% static 'pools/img/cards2/2.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>

                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер с воротником-стойкой
                        </p>
                        <p class="products-item__price">
                            3499₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-3">
                    <div class="two_pict">
                     <img src="{% static 'pools/img/cards2/3.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>

                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Шапка в рубчик
                        </p>
                        <p class="products-item__price">
                            1155₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-4">

                    <div class="two_pict">
                   <img src="{% static 'pools/img/cards2/4.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Жаккардовый свитер с узором
                        </p>
                        <p class="products-item__price">
                            3999₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-5">

                     <div class="two_pict">
                   <img src="{% static 'pools/img/cards2/5.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Жилет с деталями из кружева кроше
                        </p>
                        <p class="products-item__price">
                            3045₽
                        </p>
                    </a>
                </div>
                <div class="catalog__wrapper-item item-6">

                     <div class="two_pict">
                   <img src="{% static 'pools/img/cards2/6.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер с воротником на молнии
                        </p>
                        <p class="products-item__price">
                            4599₽
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="banner">
        <div class="container">
            <div class="banner__wrapper">
                <p class="banner__content">
                    Концепция Вязани многогранна, как и вы.
                    С нами удобно быть собой настоящей.
                </p>
            </div>
        </div>
    </section>
    <section class="construct">
        <div class="container">
            <h2 class="headingM construct__heading">
                С чем носить?
            </h2>
            <div class="construct__wrapper-text">
                <p class="wrapper-text__content">
                    Наши конструкторы создают эффектные образы вне трендов.
                    На свидании или в офисе, в кино
                    или на прогулке, в путешествии
                    или во время важной презентации —
                    в Вязани вы чувствуете себя комфортно и уверенно всегда.
                </p>
                <p class="wrapper-text__content">
                    Наша цветовая палитра — еще один залог беспроигрышного варианта. Она уместна почти для любого случая
                    и легко вписывается
                    в гардероб. Одежда остается актуальной вне сезонов и коротких трендов.
                </p>
            </div>
        </div>
    </section>

    <section class="catalog catalog3">
        <div class="container">
            <h2 class="catalog__heading heading">
                Детская коллекция
            </h2>
            <div class="catalog__wrapper">
                <div href="#" class="catalog__wrapper-item item-1">

                    <div class="two_pict">
                   <img src="{% static 'pools/img/card4/1.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер крупной вязки с аранами
                        </p>
                        <p class="products-item__price">
                            1380₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-2">

                     <div class="two_pict">
                   <img src="{% static 'pools/img/card4/2.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер
                        </p>
                        <p class="products-item__price">
                            1970₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-3">

                     <div class="two_pict">
                   <img src="{% static 'pools/img/card4/3.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Свитер
                        </p>
                        <p class="products-item__price">
                            1400₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-4">

                     <div class="two_pict">
                    <img src="{% static 'pools/img/card4/4.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Свиттер
                        </p>
                        <p class="products-item__price">
                            1860₽
                        </p>
                    </a>
                </div>
                <div href="#" class="catalog__wrapper-item item-5">

                    <div class="two_pict">
                    <img src="{% static 'pools/img/card4/5.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Джемпер
                        </p>
                        <p class="products-item__price">
                            1580₽
                        </p>
                    </a>
                </div>
                <div class="catalog__wrapper-item item-6">

                    <div class="two_pict">
                    <img src="{% static 'pools/img/card4/6.png' %}" alt="card" class="card-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                    <a href="#" class="catalo-item__price mainScreen__products-item">
                        <p class="products-item__name">
                            Жилет
                        </p>
                        <p class="products-item__price">
                            980₽
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="care">
        <a name = "CARE"></a>
        <div class="container">
            <h2 class="headingM construct__heading">
                Как ухаживать?
            </h2>
            <div class="care__wrapper">
                <div class="care__wrapper-text">
                    <p class="care__text">
                        Рекомендуем ознакомиться с информацией
                        на вшивном ярлыке, чтобы узнать подходящие режимы стирки, отжима, сушки и соблюдать данные
                        рекомендации по уходу.
                    </p>
                    <p class="care__text">
                        Вещи лучше всего стирать, вывернув наизнанку. Используйте нейтральные моющие средства. Избегайте
                        длительного замачивания.
                        Не выкручивайте. Сушите в разложенном виде
                        и горизонтальном положении.
                    </p>
                    <p class="care__text">
                        При эксплуатации избегайте чрезмерного трения
                        с сумками и другими аксессуарами, поскольку
                        это может привести к образованию затяжек
                        и катышек. Удалять катышки лучше всего специальной щеткой, либо специальной
                        машинкой для удаления катышков.
                    </p>
                    <p class="care__text">
                        Если вы долго не носите вещь, стоит хранить
                        её в сложенном виде, поскольку вешалки могут исказить форму изделия.
                    </p>
                </div>
                <div class="care__wrapper-cards">
                    <div href="#" class="cards-item">

                        <div class="two_pict">
                   <img src="{% static 'pools/img/care/brush.png' %}" alt="card" class="catalog-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                        <a href="#" class="mainScreen__products-item care-item">
                            <p class="products-item__name">
                                Щетка для удаления катышек
                            </p>
                            <p class="products-item__price">
                                495₽
                            </p>
                        </a>
                    </div>
                    <div href="#" class="cards-item">

                        <div class="two_pict">
                   <img src="{% static 'pools/img/care/gel.png' %}" alt="card" class="catalog-img">
                    <div class = "one_pict">
                            <img src="{% static 'pools/img/basket_small.svg' %}" class="card-img_buy">
                        </div>
                    </div>
                        <a href="#" class="mainScreen__products-item care-item">
                            <p class="products-item__name">
                                Гель для стирки вещей
                            </p>
                            <p class="products-item__price">
                                760₽
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <a name = "delivery"></a>
            <div class="banner__wrapper banner__wrapper2">
                <p class="banner__content banner__content2">
                    Если после примерки вещь вам
                    не подошла, мы вернем деньги
                    без уточнения причин
                    или поможем выбрать другую
                    модель в течение 21 дней со дня покупки.
                </p>
                <div class="banner__wrapper2-date">
                    <p class="banner-date__num banner__content">
                        21
                    </p>
                    <p class="banner-date__day banner__content ">
                        день
                    </p>
                </div>
            </div>
        </div>
    </section>
    <a name="contacts"></a>
   {%endblock%}