
 <!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вязань</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <button class="header__nav-burger" id="burger">
                    <img src="img.burger.svg" alt="menu">
                </button>
                <div class="header__nav-wrapper header__nav-wrapper-mob">
                    <ul class="header__nav-list header__nav-left header__nav-list-mob">
                        <li class="header__nav-item">
                            <a href="" class="header__nav-link" id="catalog">Каталог</a>


                        <li class="header__nav-item">
                            <a href="care.html" class="header__nav-link">Уход</a>

                        </li>
                        <li class="header__nav-item">
                            <a href="index2.html" class="header__nav-link">Фабрика</a>
                        </li>
                    </ul>
                    <div class="header__nav-logo">
                        <img src="img/logo.svg" alt="Вязань" class="img-logo">
                    </div>
                    <ul class="header__nav-list header__nav-right header__nav-list-mob">
                        <li class="header__nav-item">
                            <a href="about2.html" class="header__nav-link">Контакты</a>
                        </li>

                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">Войти</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                <img src="img/icons/cart.svg" alt="cart" class="icon-cart">
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="header__nav-cart header__nav-burger">
                    <img src="./img/icons/cart.svg" alt="cart">
                </button>
            </nav>
        </div>
    </header>

</body>

</html>