{% extends 'temp.html' %}
{% load static %}
{% block body %}
  <div class="formPopup2" id="popupFormMain22">
    <div class="cardpopup">
      <div class="imgcard">
        <img src="{% static 'pools/img/cards1/scaf.jpg' %}"  alt="card" class="card-img popupimg">
      </div>
      <div class="rightside">
        <div class="topBlock">
          <div class="namecard">
            <p class="Name" >{{item.name}}</p>
            <p class="price">1435₽</p>
          </div>
          <button type="button" class="cancelX" onclick="closePopup()">✕</button>
        </div>
        <div class="caracteristics">
          <div class="item_caracteristic">
            <p class="namecaracteristic">Цвет:</p>
            <p class="objectcaracteristic">Белый</p>
          </div>
          <div class="item_caracteristic">
            <p class="namecaracteristic">Размер:</p>
            <p class="objectcaracteristic">Единый</p>
          </div>
          <div class="item_caracteristic">
            <p class="namecaracteristic">Состав:</p>
            <p class="objectcaracteristic">50% шерсть мериноса/ 50% акрил</p>
          </div>
          <div class="descriptionitem">
            <p class="namecaracteristic">Описание:</p>
            <p>Английская резинка</p>
            <p>Крупная вязка 3 класса</p>
            <p>Легкий и воздушный</p>
          </div>
        </div>
        <button class="button_item" onclick="addToCart('Шарф', 1435, 'static \'pools/img/cards1/scaf.jpg\'')">
          <p class="button_item_text">Добавить в корзину</p>
        </button>
      </div>
    </div>
  </div>

<a name="contacts"></a>
{%endblock%}