{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вязань</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pools/css/styles.css' %}">
    <link type="image/png" rel="icon" href="{% static 'pools/img/favicon.ico' %}">

</head>

    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <button class="header__nav-burger" id="burger">
                    <img src="{% static 'pools/img/burger.svg' %}" alt="menu">
                </button>
                <div class="header__nav-wrapper header__nav-wrapper-mob">
                    <ul class="header__nav-list header__nav-left header__nav-list-mob">
                        <li class="header__nav-item">
                            <a href="../index.html#Catalog" class="header__nav-link" id="catalog">Каталог</a>

                        </li>


                        <li class="header__nav-item">
                            <a href="../index.html#CARE" class="header__nav-link">Уход</a>

                        </li>
                        <li class="header__nav-item">
                            <a href="../about_us.html" class="header__nav-link">Фабрика</a>
                        </li>
                    </ul>
                    <div class="header__nav-logo">
                        <a href="../index.html" class="header__nav-link">
                        <img src="{% static 'pools/img/logo.svg' %}" alt="Вязань" class="img-logo">
                        </a>
                    </div>
                    <ul class="header__nav-list header__nav-right header__nav-list-mob">
                        <li class="header__nav-item">
                            <a href="#contacts" class="header__nav-link">Контакты</a>
                        </li>

                        <li class="header__nav-item">
                            <a   class="header__nav-link" onclick="openForm()">Войти</a>

<!--href="../log_in.html" -->

                             <!--<div class="openBtn">
      <button class="openButton" onclick="openForm()"><strong>Open Form</strong></button>
    </div>-->
    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form  class="banner__wrapper_log">
          <p class="banner__content_log"> Стань частью большой</p>
            <p class="banner__content_log_2"> семьи Вязань </p>
          <div class="banner__wrapper_email_log">
                    <p class="banner__content_email_log">
                        <input type="email" placeholder="e-mail" required class="footer__form-input form-input">
                    </p>
                </div>
          <div class="banner__wrapper_password_log">
                    <p class="banner__content_password_log">
                        <input type="password" placeholder="password" required class="footer__form-input form-input">
                    </p>
                </div>
          <button class="banner__content_button_log">Вход</button>

                <div class="banner__wrapper_forget_log">
                    <a href="../forget.html" class="banner__content_forget_log"> Забыли пароль?</a>
                    <a href="../sign_in.html" class="banner__content_sign_log"> Зарегистрироваться</a>
                    <button type="button" class="cancel_button" onclick="closePopup()">Закрыть окно входа</button>
                </div>

        </form>
      </div>
    </div>
                        </li>
                        <li class="header__nav-item">
                            <!--<a href="../basket.html" class="header__nav-link" onclick="showCart()">-->
                            <a>
                                 <img src="{% static 'pools/img/icons/cart.svg' %}" alt="cart" class="icon-cart" onclick="openPopupCart()">

                                <div class="formPopup2 cart_param" id="popupCart">
                                    <div class="cardpopup">
                                        <button type="button" class="cancelX" onclick="closePopup()">✕</button>
                                        <div class="container">
                                            <h2 class="catalog__heading heading heading_basket catalog__heading_basket">
                                                Покупки:
                                            </h2>
                                            <div id="cartItems">

                                            </div>
                                        </div>
                                </div>

                     </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="header__nav-cart header__nav-burger">
                     <img src="{% static 'pools/img/icons/cart.svg' %}" alt="cart" >

                </button>
            </nav>
        </div>

    </header>


<body>
  {% block body %}
  {% endblock %}

</body>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-nav">
                    <ul class="footer__nav">
                        <li class="footer__nav-item">
                            <a href="../index.html#Catalog" class="header__nav-link">
                                Каталог
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="../index.html" class="header__nav-link">Главная</a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="../index.html#CARE" class="header__nav-link">Уход</a>
                        </li>
                    </ul>
                    <ul class="footer__nav">
                    </ul>
                    <ul class="footer__nav">
                        <li class="footer__nav-item">
                            <a href="https://t.me/volikova_katya" target = "_blank" class="header__nav-link footer__link-social">
                                Telegram
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="mailto: 11111@gmail.com" class="header__nav-link footer__link-social">
                                vyazan@gmail.com
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="tel: 8111111" class="header__nav-link footer__link-social">
                                +79889780556
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__elem">
                    <p class="header__nav-link">
                        Новости, скидки и акции для подписчиков
                        нашей рассылки:
                    </p>
                    <div class="footer__elem-wrapper">
                        <form class="footer__elem-form">
                            <input type="email" placeholder="e-mail" required class="footer__form-input">
                            <button type="submit" class="footer__form-btn btn">
                                Подтвердить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <p class="footer__copiwriter">
                © 2022 Vyazan
            </p>
        </div>
    </footer>
<script src="{% static 'pools/js_files/popups.js' %}"></script>
<script src="{% static 'pools/js_files/shop_cart.js' %}"></script>
</html>